[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = about golang project ??golang?????
[access "refs/*"]
	owner = group user/sundy xiong (wheatxiong)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sundy xiong (wheatxiong)
	label-Verified = -1..+1 group user/sundy xiong (wheatxiong)
	push = group user/sundy xiong (wheatxiong)
	read = group user/sundy xiong (wheatxiong)
	rebase = group user/sundy xiong (wheatxiong)
	removeReviewer = group user/sundy xiong (wheatxiong)
	submit = group user/sundy xiong (wheatxiong)
[access "refs/heads/*"]
	create = group user/sundy xiong (wheatxiong)
	push = +force group user/sundy xiong (wheatxiong)
	pushMerge = group user/sundy xiong (wheatxiong)
	read = group user/sundy xiong (wheatxiong)
[access "refs/tags/*"]
	push = group user/sundy xiong (wheatxiong)
	push = +force group user/sundy xiong (wheatxiong)
